body {
    background-color: #0000c5;
    font-family: 'Arial', sans-serif;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.title {
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
}

.upload-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.result-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.details p {
    font-size: 1.2rem;
    font-weight: bold;
}

.hidden {
    display: none;
}
